.navButton {
    -fx-background-color: transparent;
}

ScrollPane {
    -fx-background-color: transparent;
    -fx-padding: 0;
}

.smallText{
    -fx-font-size: 20;
}

.bigTime{
    -fx-font-size: 40;
}

.oddPanel {
    -fx-background-color: #faffe5;
    -fx-padding: 10;
}

.evenPanel {
    -fx-background-color: #ecf3ce;
    -fx-padding: 10;
}