.navButton {
    -fx-background-color: transparent;
}

ScrollPane {
    -fx-background-color: transparent;
    -fx-padding: 0;
}

.smallText{
    -fx-font-size: 20;
}

.bigTime{
    -fx-font-size: 40;
}

.oddPanel {
    -fx-background-color: #faffe5;
    -fx-padding: 10;
}

.evenPanel {
    -fx-background-color: #ecf3ce;
    -fx-padding: 10;
}

.linear-grad-to-bottom{
    -fx-background-color: linear-gradient(to bottom, #ff7f50, #6a5acd);
}

.settingsPanel {
    -fx-background-color: #b5fffa;
    -fx-padding: 10;
    -fx-border-color: #FFFFFF;
    -fx-border-width: 2px;
}

.goalProgress {
    -fx-background-color: #fff3cc;
    -fx-control-inner-background: #fff3cc;
    -fx-text-box-border: #ff9174;
    -fx-accent: #ff9174;
}